extends layout

block content
	h1= title
	p Welcome to #{title}

	ul
		li #[a(href="/newoffer") New offer].
		li More stuffs.
		li #[a(href="/alldata") All data].

	p All offers:		
	ul
	- for post in posts
		if post[2] == 1
			- var action = "buy"
		if post[2] == 2
			- var action = "sell"
		if post[2] == 3
			- var action = "auction"
		
		li Offer by #{post[0]} to #{action} #{post[1]}, for #{post[3]} euros. Description: #{post[4]}
		
//	p All data raw: !{posts}

