extends layout

block content
	h1= title
	p Welcome to #{title}

	ul
		li #[a(href="/login") Login].
		li #[a(href="/newoffer") New offer].
		li More stuffs.
		li #[a(href="/alldata") All data].

	p All offers:		
	ul
	- for post in posts
		if post.funcs == 1
			- var action = "buy"
		if post.funcs == 2
			- var action = "sell"
		if post.funcs == 3
			- var action = "auction"
		
		li Offer by #{post.username} to #{action} #{post.item}, for #{post.price} euros. Description: #{post.description}
		
//	p All data raw: !{posts}

